:root {
  --text_color: #ffffff;
  --background_color: #121212;
  --accent_color: #4c425f;
  --accent_color_dark: #362e44;
  --accent_color_light: #766692;
  --padding_normal: 8px;
  --padding_large: 16px;
  --line_height: 48px;
  --image_size: 50px;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background_color);
  color: var(--text_color);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiTypography-root{
  margin: 0 15vw 0 5vw;
}

h5.MuiTypography-root{
    padding: 15vw 0 0 0;


}




.navbar {
  display: block;
  position: fixed;
  top: 0;
  background-color: var(--background_color);

  width: 100%;
  min-height: 7vh;

}



.navbar #logo
{


  float: left;

}
.navbar #menus
{
  padding: 5px 0 5px 0;
  float: right;

}

.navbar #menus .MuiButtonGroup-root {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 2vw;
  min-height: 5vh;
}

.navbar #menus .MuiButtonGroup-root .MuiButton-root {
  color: var(--text_color);
  background-color: var(--accent_color);
  border-color: var(--accent_color_dark);

}




.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#steamid {

  margin: 10px 30px 0 30px;
  height: 7vh;
  display: flex;
}


#steamid .MuiTextField-root {
  flex-grow: 10;
  height: 100%;

}

#steamid .MuiTextField-root .MuiInputBase-root {
  height: 100%;
}


#steamid .MuiTextField-root input{
  font-size: 2em;
  vertical-align: center;
  background-color: white;
  padding: 0;
  height: 100%;
}

#steamid button.MuiButton-root {
  flex-grow: 1;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 100%;
  color: var(--text_color);
  background-color: var(--accent_color);

}

.content
{
  padding-top: 5vh;
  text-align: center;

  margin: 0 20% 0 20%;
  min-height: 15vh;

}

.achievCont {
  padding-bottom: 5vh;
  text-align: center;
  border-radius: 0;
  margin: 0 20% 10% 20%;

}

body {


}

.list {
  list-style-type: none;
}

div.MuiLinearProgress-colorPrimary{

  color: var(--accent_color);
}

div.MuiLinearProgress-colorPrimary > *{
  background-color: var(--accent_color);
  color: var(--accent_color);
}

div.MuiFilledInput-underline:after {
  border-bottom-color: var(--accent_color_light);
}

.accordions .MuiPaper-root {
  margin: 5px 0 5px 0;
  background-color: var(--accent_color);
}
 .MuiAccordion-rounded {
  border-radius: 0;
}

.accordions .MuiAccordionDetails-root {

  background-color: var(--accent_color_light);
}
.MuiAccordionSummary-content > h5.MuiTypography-root{
  padding:0;
  vertical-align: middle;

  line-height: 100%;
}

div.MuiAccordionSummary-root{
  padding: 8px;
}

div.MuiAccordionSummary-content {
  padding:auto;
  margin:0;
}

#gameCover{
  height: auto;
  max-width: 15vw;
}

#achievDetails {
  text-align: left;
}

.achievCont > .list {
  padding: 0;
}

.aboutmeheader {
  margin-top: 10vh;
}

.achimg {
  width: var(--image_size);
  height: auto;
  border-radius: 50%;
  vertical-align: middle;
}

.achimgcont {
  margin-right: 10px;
}
